<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/weibo4j-oauth2/examples/weibo4j/examples/oauth2/OAuth4Code.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="weibo4j.examples.oauth2.OAuth4Code"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="weibo4j-oauth2"/>
</launchConfiguration>
